header-container{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    
    background-color: aqua;
}

header-logo{

}

header-nav{
    display: flex;
    flex-direction: row;
}

header-nav-content{

}

header-link-content{

}

header-button-container{

}

header-button{

}
